RewriteEngine on

#Main Pages
RewriteRule ^$ index.php
RewriteRule ^version$ version.php

#Table Pages
RewriteRule ^types$ ./table/types/types_view.php

RewriteRule ^dealers$ ./table/dealers/dealers_list.php
RewriteRule ^dealers/enter$ ./table/dealers/dealer_entry.php
RewriteRule ^dealers/update$ ./table/dealers/dealer_update.php
RewriteRule ^dealers/delete$ ./table/dealers/dealer_delete.php

RewriteRule ^sales$ ./table/sales/sales_list.php
RewriteRule ^sales/enter$ ./table/sales/sales_entry.php
RewriteRule ^sales/update$ ./table/sales/sales_update.php
RewriteRule ^sales/delete$ ./table/sales/sales_delete.php

#Report Pages
RewriteRule ^dealer_report$ ./report/sales/dealer_report.php
